body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#chatContainer {
  min-width: 500px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

#sendBar {
  
  display: flex;
  flex: 1;
  bottom:0px;
  height:50px;
  min-width: 100%;
  max-width: 700px;
}

#form {
  display: flex;
  flex: 1;
}

#command {
  display: flex;
  flex: 1;
  border-style: solid;
  border-width: 2px;
  border-color: #E5E5EA;
  border-radius: 50px;
  height: 30px;
  padding: 3px;
}

#submit {
  background-color: #34C759;
  color: white;
  border-radius: 10px;
  padding: 10px;
}